.connectImageStyle {
    margin-left: 10%;
    margin-block: 3%;
}

.innerCintainer {
    background-color: rgba(125, 182, 212, 0.6);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.contentContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 60%;
}

@media (max-width:512px) {
    .contentContainer {
        width: auto;
        height: auto;
    }
}

@media (max-width:512px) {
    .innerCintainer {
        position: relative;
        display: block;
        width: 100%;
        height: fit-content;
    }

    .connectImageStyle {
        display: none;
    }
}

.titleStyle {
    text-align: center;
    font-size: 50px;
    color: #124893;
}

.inputDivStyle {
    flex-direction: column;
}

.sendButtonStyle {
    margin-top: '10%';
}

.formStyle {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    height: auto;
}

.buttonStyle {
    background-color: #124893;
    align-self: center;
    width: 50%;
    overflow: hidden;
}