.main_container {
    background: #252934;

    @media(min-width:360px) {}

    @media(min-width:1024px) {}
}

#menuIconStyle {
    display: flex;
    margin-inline: 60px;
    padding-top: 40px;

    @media(min-width:360px) {
        align-items: center;
        justify-content: center;
    }

    @media(min-width:1024px) {
        justify-content: flex-end;
    }
}

.main_container_2 {
    display: flex;
    padding-top: 5%;
    padding-bottom: 60px;

    @media(min-width:360px) {
        flex-direction: column-reverse;
        align-items: center;
    }

    @media(min-width:1024px) {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

.headerTextStyle {
    color: white;

    @media(min-width:360px) {
        text-align: center;
    }

    @media(min-width:1024px) {
        text-align: left;
    }
}

.professionTextStyle {
    font-size: 35px;
    color: deeppink;
    font-style: italic;

    @media(min-width:360px) {
        text-align: center;
    }

    @media(min-width:1024px) {
        text-align: left;
    }
}