@import '../../styles/colors.css';

/* Footer container styling */
.footer-style {
    background-color: var(--footer-background);
    padding: 20px 20px;
    text-align: center;
    color: var(--text-light);
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Text styling for the footer */
.footer-title-style {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}